<h2 style="color: #654321; text-align: center;">Contact Me!</h2>
&nbsp;
<p style="color: #654321; text-align: center; font-size:larger">
    I am always looking for other people to either collborate on projects with, or even just submit a recipe!
    I check all of these resources on a daily basis so don't be afraid to reach out and I will get back to you ASAP!
</p>
&nbsp;
<div class="container" style="color: #654321; font-size:large;"> <!--Please fix this formatting x.x-->
    <div class="row">
        <div class="col-md-6">
            <i class="glyphicon glyphicon-envelope"></i>  Email: {{email}}
        </div>
        <div class="col-md-6">
            <i class="glyphicon glyphicon-phone"></i> Phone: {{phone}}
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
            <i class="glyphicon glyphicon-home" style="font-size:medium; text-align:center;"></i>  Address: {{addressStreet}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">

        </div>
        <div class="col-md-4">
            <div style="text-align:center;">{{addressCity}},  {{addressState}}  {{addressZip}}</div>
        </div>
    </div>
</div>