<div style="text-align: center; color: #654321;">
    <div style="font-family:'Freestyle Script', Tahoma, Geneva, Verdana, sans-serif; font-size:xx-large; font-weight: bold;">Kevin's Recipes</div>
    &nbsp;
    <div style="font-size:larger;">Welcome to my Kevin's Recipes! Here's a little bit about me:</div>
    &nbsp;
    <p style="font-size:larger;">
        I'm a recent college grad, and I am building this website to try to develop my skills with AngularJS 2. I attended NDSU and graduated with a B.S. in Computer Science.
        I've recently started working with Magenic to provide companies with technology that will hopefully further their business.
    </p>
    &nbsp;
    <p style="font-size:larger;">
        On this site you will find information about cooknig recipes that I enjoy! You can also follow my blog and read my posts in the blog section. Good luck and happy cooking!
    </p>
</div>